@{
    ViewData["Title"] = "Home Page";
}

<div class="container bg-secondary justify-content-center font-italic">
    <div class=" text-center p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col px-0">
            <h1 class="display-4 fst-italic">Herentalse badminton</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <div class="row text-center ml-4">
        <div class="col mt-2 text-center">
            <div class="card" style="width: 18rem;">
                <img src="~/images/Badminton_1.jpg" class="card-img-top" alt="...">

            </div>
        </div>
        <div class="col mt-2 text-center">
            <div class="card" style="width: 18rem;">
                <img src="~/images/Badminton_2.jpg" class="card-img-top" alt="...">

            </div>
        </div>
        <div class="col mt-2 text-center">
            <div class="card" style="width: 18rem;">
                <img src="~/images/Badminton_3.jpg" class="card-img-top" alt="...">

            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="text-center text-light font-italic">
                <p>
                    Geïnteresseerd als competitieve of recreatieve sport?

                    Klaar om iets aan je lichaam en conditie te doen?<br />

                    (En zeker na de Corona-periode moeten de kilo’s terug weg).<br />

                    Maar dat kan zo saai zijn!<br />

                    Wordt lid!. En je kan meerdere keren per week werken aan je lichaam, conditie!<br />

                    Bij HBC kan jij je plaats als competitieve of recreatieve speler vinden.<br />

                    Zo zijn er heleboel spelers die niet enkel van de sport houden, maar ook van de gezelligheid van HBC!<br />

                    Maar op een leuke, ontspannen manier! <br />

                    Samen met heleboel andere mensen die niet alleen de sport, maar ook de gezelligheid bij ons hebben gevonden.
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>

